train_source/ServiceProxy/Service References/TrainingServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Data.Statistics" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Data.Statistics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14088/TrainingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:14088/TrainingService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TestStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="StudentId" type="ser:guid" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestStatistic" nillable="true" type="tns:TestStatistic" />
  <xs:complexType name="ArrayOfDifficultyStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DifficultyStatistic" nillable="true" type="tns:DifficultyStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDifficultyStatistic" nillable="true" type="tns:ArrayOfDifficultyStatistic" />
  <xs:complexType name="DifficultyStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="MeanAttemptsCount" type="xs:double" />
      <xs:element minOccurs="0" name="MeanResult" type="xs:double" />
      <xs:element minOccurs="0" name="StudentsCount" type="xs:int" />
      <xs:element minOccurs="0" name="TestId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DifficultyStatistic" nillable="true" type="tns:DifficultyStatistic" />
  <xs:complexType name="ArrayOfStudentModuleStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentModuleStatistic" nillable="true" type="tns:StudentModuleStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentModuleStatistic" nillable="true" type="tns:ArrayOfStudentModuleStatistic" />
  <xs:complexType name="StudentModuleStatistic">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LessonsStatistic" nillable="true" type="q1:ArrayOfKeyValueOfguidLessonResultStatistic_ST1mVW_Pw" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentModuleStatistic" nillable="true" type="tns:StudentModuleStatistic" />
  <xs:complexType name="LessonResultStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttemptsCount" type="xs:int" />
      <xs:element minOccurs="0" name="BestTheoryResult" type="xs:int" />
      <xs:element minOccurs="0" name="HasPracticeStatistic" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasTheoryStatistic" type="xs:boolean" />
      <xs:element minOccurs="0" name="PracticeResult" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LessonResultStatistic" nillable="true" type="tns:LessonResultStatistic" />
</xs:schema>