train_source/ServiceProxy/Service References/TrainingServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Data.Content" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Data.Content" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14088/TrainingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lesson" nillable="true" type="tns:Lesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLesson" nillable="true" type="tns:ArrayOfLesson" />
  <xs:complexType name="Lesson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ModuleID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lesson" nillable="true" type="tns:Lesson" />
  <xs:complexType name="ArrayOfTheoryTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TheoryTest" nillable="true" type="tns:TheoryTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTheoryTest" nillable="true" type="tns:ArrayOfTheoryTest" />
  <xs:complexType name="TheoryTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LessonId" type="ser:guid" />
      <xs:element minOccurs="0" name="ModuleId" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TheoryTest" nillable="true" type="tns:TheoryTest" />
  <xs:complexType name="ArrayOfPracticeTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticeTest" nillable="true" type="tns:PracticeTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticeTest" nillable="true" type="tns:ArrayOfPracticeTest" />
  <xs:complexType name="PracticeTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LessonId" type="ser:guid" />
      <xs:element minOccurs="0" name="ModuleId" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticeTest" nillable="true" type="tns:PracticeTest" />
</xs:schema>